/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERAL */

* { /* Selector universal */
  /* border: 1px solid red; */
  margin: 0;
  box-sizing: border-box;
}

html {
  /* TODO: Usar el tamaño de fuente con tamaños relativos usando REMs */
  font-size: 14px;
}

body {
  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);

  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* TODO: RWD (Responsive Web Design) para imágenes*/
  max-width: 100%;
  height: auto;
}

/* UTILS */

.wrapper {
  /* Adaptando el ancho de la página a dispositivos móviles y desktops */
  width: min(100% - 3rem, 1440px); /* 42px = 14px * 3 = 3rem */
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 1000px; */

   /* Centra el elemento con margenes automáticos */
  margin: 0 auto; /* 0: TOP, BOTTOM / auto: LEFT, RIGHT */
  margin-top: 3rem; /* 14px * 3 = 42px = 3rem */ 
}

.header__nav {
  display: flex;
  gap: 3rem;
}

/* HERO SECTION */

.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 14px * 2 = 28px = 2rem */

  padding-top: 3rem;
  padding-bottom: 3rem;

  /* TODO: Agregar el fondo */
}

.hero__title {
  /* border: 1px solid red; */

  width: min(100% - 3rem, 720px);

  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;

  text-align: center;
}

.hero__text {
  width: min(100% - 3rem, 720px);

  font-weight: 400;
  font-size: 1.2rem; /* 14px * 1.2 = 16.8px = 1.2rem */
  text-align: center;
}

.hero__button {
  font-weight: 700;

  border: 0;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: hsl(0, 0%, 100%);

  /* https://cssgradient.io/ */
  background: linear-gradient(90deg,hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
}