/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/* GENERAL */

* { /* Selector universal */
  /* border: 1px solid red; */
  margin: 0;
  box-sizing: border-box;
}

html {
  /* TODO: Usar el tamaño de fuente con tamaños relativos usando REMs */
}

body {
  background-color: bisque;

  font-family: "Open Sans", sans-serif;

  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* TODO: RWD (Responsive Web Design) para imágenes*/
}

/* UTILS */

.wrapper {
  width: min(100% - 42px, 1440px);
}

/* HEADER SECTION */

.header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 1000px; */

  margin: 0 auto; /* Centra el elemento con margenes automáticos */
  margin-top: 50px;
}