:root {
  --bg-1: #fef6e4;
  --bg-2: #f3d2c1;
  --bg-3: #8bd3dd;
  --bg-4: #f582ae;
  --bg-5: #b082f5;
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

/* GENERAL */

body {
  display: grid;

  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 60px 1fr;

  height: 100dvh;

  /* Grid Template Areas */

  grid-template-areas:
    "sidebar header header"
    "sidebar main settings"
  ;
}

.header {
  background-color: var(--bg-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5rem;

  grid-area: header;
}

.sidebar {
  background-color: var(--bg-2);

  padding: 1rem;

  grid-area: sidebar;
}

.settings {
  background-color: var(--bg-3);

  padding: 1rem;

  grid-area: settings;
}

.main {
  background-color: var(--bg-4);

  padding: 1rem;

  grid-area: main;
}

.card {
  background-color: var(--bg-5);

  border-radius: .5rem;
}