h1 {
  margin: 0;
}

body {
   /* hsl(color, saturación y brillo) */
  background-color: hsl(148, 38%, 91%);

  font-family: "Karla", sans-serif;
  font-size: 16px;

  display: flex;
  justify-content: center; /* Alieanmiento horizontal */
  align-items: center; /* Alieanmiento vertical */

  height: 100dvh;
}

.contact-form {
  background-color: hsl(0, 0%, 100%);

  width: 400px;

  padding: 32px; /* 16px x 2 */

  border-radius: 16px;
}

.contact-form h1 {
  color: hsl(187, 24%, 22%); /* Grey 900 */
  margin-bottom: 32px;
}

label {
  /* border: 1px solid red; */

  display: block;
  margin-bottom: 16px;
}

label input[type=text],
label input[type=email],
label textarea {
  display: flex;
  margin-bottom: 16px;
  margin-top: 8px;

  width: 100%;
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%); /* Grey 500 */
  padding: 16px;

  box-sizing: border-box;
}

.row {
  /* border: 1px solid blue; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

input[type=submit] {
  width: 100%;
  padding: 16px;

  border: none;
  border-radius: 8px;

  background-color: hsl(169, 82%, 27%); /* Green 600 */
  color: hsl(0, 0%, 100%);

  font-family: inherit;
  font-weight: 700;
  letter-spacing: 1px;
}

.required {
  color: hsl(169, 82%, 27%);
  font-weight: 700;
}

.query-type label {
  border: 1px solid hsl(186, 15%, 59%); /* Grey 500 */;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.query-type {
  margin-bottom: 0;
}

.flex {
  display: flex;
  gap: 8px;
}