/* 
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  /* alinea el contenido horizontalmente */
  justify-content: center;
  /* alinea el contenido vericalmente */
  align-items: center;

  height: 100dvh;
}

main {
  /* border: 1px solid red; */

  width: 650px;
  height: 400px;

  display: flex;

  border-radius: 14px;

  overflow: hidden;
}

.photo {
  background-color: orange;

  width: 300px;

  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover; /* 100px */
  background-repeat: no-repeat;
}

.content {
  background-color: green;

  width: 350px;
}